body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0;
    background-color: var(--text-light);
    font-family: 'montserrat';
    font-weight: 600;
    color: var(--text-dark);
    overflow-x: hidden;
    transition: all 2s;
    background-image: url(../../img/motifs-couleurs-02.png);
    background-size: 100%;
    background-attachment: fixed;
}

main {
    margin-top: 12rem;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
}