body > header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blue-dark);
    padding: 1rem 2rem;
    box-shadow: var(--box-shadow);
    width: 97vw;
    transition: all 1s;
    z-index: 10;
    font-family: 'ubuntu';
}

.hidden {
    display: none;
}

.nav-header {
    display: none;
}

.logo a{
    color: var(--light);
    display: flex;
    align-items: center;
    gap: 1rem;
}

header img {
    width: 30px;
}

ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

a {
    color: var(--light)
}

.icones {
    display: flex;
    gap: 1rem;
}

i {
    font-size: 1.2rem;
    color: var(--light)
}

.nav-mobile {
    background-color: var(--light);
    height: 100vh;
    width: 75vw;
}

.nav-mobile a {
    color: var(--text-dark);
}



@media screen and (min-width: 768px) {
    .nav-header {
        display: inline-block;
    }

    .menu-mobile {
        display: none;
    }
}