@import 'body.css';
@import 'buttons.css';
@import 'header.css';
@import 'section_hero.css';
@import 'grid-projets.css';
@import 'footer.css';
@import '../../css/fonts.css';
@import '../../css/animation.css';

:root {
    --text-dark: #0D0C0B;
    --blue-dark: #6F7BBF;
    --blue-light: #79A3D9;
    --light: #F2EBEB;
    --pink: #F29F80;
    --none: rgba(0, 0, 0, 0);

    --box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.3);
}
