body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--dark);
    background-image: url(../../img/fond-dark.png);
    background-size: 100%;
    font-family: 'montserrat';
    font-weight: 600;
    color: var(--text-light);
    overflow-x: hidden;
    transition: all 2s;
}

main {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 3rem;
}

.hidden {
    display: none;
}

@media screen and (min-width: 768px) {

    body {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    main {
        margin-top: 0;
        grid-column: 3 / 12;
        min-height: 100vh;
        padding: 3rem 0;
    }
}