body > header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 1s;
    font-family: 'michroma';
    width: 92%;
    z-index: 3;
}

.logo a {
    color: var(--text-light);
    display: flex;
    align-items: center;
    gap: 1rem;
}

body > header img {
    width: 30px;
}

.nav-header {
    display: none;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-nav {
    display: none;
}

ul li a {
    color: var(--text-light)
}

.icones {
    display: flex;
    gap: 0.5rem;
}

i {
    font-size: 1.2rem;
    color: var(--text-light)
}

.nav-mobile {
    background-color: var(--dark-blue);
    height: 100vh;
    width: 75vw;
}

.nav-mobile a {
    color: var(--text-light);
}



@media screen and (min-width: 768px) {
    body > header {
        grid-column: 1 / 2;
        min-height: 100vh;
        height: 100%;
        flex-direction: column;
        gap: 5rem;
        padding: 2rem 1rem;
        transition: all 1s;
        width: fit-content;
        justify-content: flex-start;
    }

    .nav-header {
        display: none;
        order: 2;
    }

    .menu-mobile {
        display: none;
    }

    .logo {
        order: 2;
    }

    .icones {
        order: 1;
    }

    .logo a {
        flex-direction: column;
    }
}